html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.timer {
    position: fixed;
    max-width: fit-content;
    padding-left: 1rem;
    z-index: 500;
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 500;
}

.fullscreen-popup {
    z-index: 1000;
    position: fixed;
    outline: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    text-align: center;
    background-color: rgba(32, 32, 32, 0.551) ;
    opacity: 50%;
}

.fullscreen-text {
    opacity: initial;
    color: white;
}

.radio {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.popup-button, .start-button {
    border-radius: 5rem;
    border-style: hidden;
    width: 10rem;
    height: 5vh;
}

.start-menu {
    display: flex;
    flex-direction: column;
    align-items: left;
}